.page-id-4{
  .site-content {
    .program-header-image {
      background-image: url("./images/spash_banner.png");
      width: 100%;
      height: 295px;
      background-size: 100%;
    }
    .program-header-text {
      padding-top: 120px;
      font-size: 48px;
    }
    .program-title {
    }
    .padding-programs{
      padding: 3rem;
      box-sizing: border-box;
    }
    .programs-add-school{
      box-sizing: border-box;
      padding: 1rem;
    }
  }
}
