/*common classes to use*/
.blue-text{
	color: $color__blue-button;
} 
.orange-button{
	color: $color__background-body;
	background: $color__orange-button;
	border:none;
}
.blue-button{
	color: $color__background-body;
	background: $color__blue-button;
	border:none;
}
/*home page formatting*/ 
.home{
	.hero{
		background-image: url("./images/home_hero_image.jpg");
		width: 100%;
		height: 500px;
		position:relative;
		background-size: 100%;
		background-repeat: no-repeat;
	}
}
.hero-statement{
	top: 20%;
	left: 50%;
}
.hero-cta{
	height: 3rem;
	width: 12rem;
	top: 50%;
	left: 67%;
	border-radius: 5%;
}
.main-navigation{
	margin-right: 4%;
	.menu{
		.menu-item{
			a{
				color: $color__blue-button;
			}
		}

		.menu-item-55{
			background: $color__orange-button;
			border-radius: 5%;
			a{
			color: $color__background-body;
			}
		}
	}
}
.home-icons{
	padding: 4% 8%;
	i{
		font-size: 3.9rem;
	}
}
.home-button{
	margin-top: 1rem;
	height: 3.8rem;
	width: 11.5rem
}
.home-read-more{
	text-align: right;
}
.recent-blogs{
	.post{
		.home-read-more{
			a{
				color: $color__blue-button;
			}
		}
	}
}

/*end of home page formatting*/ 
/*Footer formatting*/
// .social-buttons{
// 	i{
// 		color: $color__background-body;
// 	}
// }
.site-footer{
	background-color: #2e4e5f;
}
.footer-address{
	color: $color__background-body;
} 
.social-buttons{
	i{
		color: $color__background-body;
		border: 1px solid $color__background-body;
		height: 2em;
		width: 2em;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		margin: 4%;
	}
}
.footer-left{
	padding-left: 4%;
}
.left-middle{
	ul{
		li{
			padding: 4% 4% 4% 0;
			list-style-type: none;
			a{
				color: $color__background-body;
			}
			
		}
	}
}

.right-middle{
	ul{
		li{
			padding: 4% 4% 4% 0;
			list-style-type: none;
			a{
				color: $color__background-body;
			}
		}
	}
}
.nav-register{
	border: 1px solid $color__background-body;
	padding: 4%;
	margin-right: 4%;
}
