/*common classes to use*/
.blue-text{
	color: $color__blue-button;
} 
.orange-button{
	color: $color__background-body;
	background: $color__orange-button;
	border:none;
}
.blue-button{
	color: $color__background-body;
	background: $color__blue-button;
	border:none;
}
/*home page formatting*/ 
.home{
	.hero{
		background-image: url("./images/home_hero_image.jpg");
		width: 100%;
		height: 500px;
		position:relative;
		background-size: 100%;
	}
}
.hero-statement{
	top: 20%;
	left: 50%;
}
.hero-cta{
	height: 3rem;
	width: 12rem;
	top: 50%;
	left: 67%;
	border-radius: 5%;
}
.main-navigation{
	margin-right: 4%;
	.menu{
		.menu-item{
			a{
				color: $color__blue-button;
			}
		}

		.menu-item-55{
			background: $color__orange-button;
			border-radius: 5%;
			a{
			color: $color__background-body;
			}
		}
	}
}
.home-icons{
	padding: 4% 8%;
	i{
		font-size: 3.9rem;
	}
}
.home-button{
	margin-top: 1rem;
	height: 3.8rem;
	width: 11.5rem
}

/*end of home page formatting*/ 