/*common classes to use*/
.blue-text{
	color: $color__blue-button;
}
.orange-button{
	color: $color__background-body;
	background: $color__orange-button;
	border:none;
}
.blue-button{
	color: $color__background-body;
	background: $color__blue-button;
	border:none;
}
/*home page formatting*/
.home{
	.hero{
		background-image: url("./images/home_hero_image.jpg");
		width: 100%;
		height: 501px;
		background-size: 100%;
		background-repeat: no-repeat;
	}
}
// .hero-statement{
// 	top: 20%;
// 	left: 50%;
// }
// .hero-cta{
// 	height: 3rem;
// 	width: 12rem;
// 	top: 50%;
// 	left: 67%;
// 	border-radius: 5%;
// }
.main-navigation{
	margin-right: 4%;
	.menu{
		.menu-item{
			a{
				color: $color__blue-button;
			}
		}

		.menu-item-55{
			background: $color__orange-button;
			border-radius: 5%;
			a{
			color: $color__background-body;
			}
		}
	}
}
.home-icons{
	padding: 4% 8%;
	i{
		font-size: 3.9rem;
	}
}
.home-button{
	margin-top: 1rem;
	height: 3.8rem;
	width: 11.5rem
}
.home-read-more{
	text-align: right;
}
.recent-blogs{
	.post{
		.home-read-more{
			a{
				color: $color__blue-button;
			}
		}
	}
}
.front-blog{
	img{
	border-radius: 5%;
		
	}
}
.home-blog-title{
	font-size: 1.5rem;
}
/*end of home page formatting*/
/*Footer formatting*/
.site-footer{
	background-color: $color__blue-button;
}
.footer-address{
	color: $color__background-body;
}
.social-buttons{
	margin-top: 4rem;
	margin-bottom: 1rem;
	i{
		color: $color__background-body;
		border: 1px solid $color__background-body;
		height: 2em;
		width: 2em;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		margin: 4%;
		font-size: 1.5rem;
	}
}
.footer-left{
	padding-left: 4%;
}
.left-middle{
	margin-top: 4rem;
	ul{
		li{
			padding: 4% 4% 4% 0;
			list-style-type: none;
			a{
				color: $color__background-body;
			}

		}
	}
}

.right-middle{
	margin-top: 4rem;
	ul{
		li{
			padding: 4% 4% 4% 0;
			list-style-type: none;
			a{
				color: $color__background-body;
			}
		}
	}
}
.nav-register{
	border: 1px solid $color__background-body;
	padding: 4%;
	margin-right: 4%;
}
input[type="text"]::-webkit-input-placeholder{
		color: #000;
	} 
.footer-newsletter{
	label{
		color: $color__background-body;
		font-size: 1rem;
	}
}
.copyright{
	font-size: 0.6rem;
	color: $color__background-body;
	top: 16rem;
}
/*end of footer formatting*/ 

.page-id-13, .page-id-64, .blog{
	.hero{
		background: url("./images/spash_banner.png");
		width: 100%;
		height: 21rem;
		position:relative;
		background-size: 100%;
		background-repeat: no-repeat;
	}
}
.register-title{
	top: 30%;
	left: 38%;
	font-size: 3rem;
}
.register-body{
	margin-left: 2%;
		label{
			font-size: 1rem;
		}
		input[type=text]{
			width: 50%;
		}
		.age-button, .location-type-button, .session-button{
			margin: 0.5%;
			height: 2.8rem;
		}
		.age-button, .location-type-button{
			width: 12.7rem;
		}
		.session-button{
			width: 17.7rem;
		}
		.location-type-button{
			a{
				color: #fff;
			}
		}
		li{
			margin-top: 1rem;
		}
}
.location-button{
	margin-bottom: 2rem;
}
.tos{
	overflow:scroll;
	height: 10rem;
	width:75%;
}
.tos-body{
	font-size: 0.8rem;
}
.checkout-button{
	margin-left: 42%;
}
.print-tos{
	right: 20rem;
	a.print-tos-link{
		color: #000;
		text-decoration: underline;
	}

}
.tos-accept{
	margin-top: 1rem;
		input[type="checkbox"]{
		margin-right: 1rem;
	}
}
.additional-student, .additional-group-student{
	display:none;
}
.overlay-color{
		position:absolute;
		height: 100%;
		width: 60%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 1;
		top: 0;
	}
.sidebar2-title{
	font-size: 1.5rem;
	font-weight: bold;
}

