// Random Styling

.center{
    text-align: center;
}

.location-button{
    color: white;
    padding: 2rem;
}

.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.sub-footer{
    background-color: #F5FBF7;
    padding: 8% 8% 5% 8%;
}

.blue{
    color: #6992B8;
}

.rounded-corners{
    border-radius: 10px;
}


// Specific Page Styling

.page-id-7, .page-id-118{
    .hero {
        background-image: url("./images/spash_banner.png");
        width: auto;
        height: 400px;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .teachers {
        img {
            border-radius: 5px;
            padding-left: 2rem;
        }
    }
    button{
        background: none;
        border-color: #FFF;
    }
    .blue-button{
        color: $color__background-body;
        background: $color__blue-button;
        width: 14rem;
        height: 3rem;
        border:none;
        outline: none;
        font-size: 1.5rem;
        border-radius: 5px;
    }
    .class-button{
        color: $color__background-body;
        background: $color__orange-button;
        width: 10rem;
        height: 2rem;
        border:none;
        outline: none;
        font-size: 1rem;
        border-radius: 4px;
    }
    .title-founder{
        text-align: left;
        //padding-top: 11%;
        font-size: 2.5rem;
        font-weight: bold;
        color: #6991B7;
        line-height: 3rem;
    }
    .padding-founder{
        padding-left: .15rem;
        padding-bottom: 1.5rem;
    }
    .title-teacher{
        text-align: center;
        padding-top: 4%;
        font-size: 3rem;
        font-weight: bold;
        color: #6991B7;
        padding-bottom: 2rem;
    }
    .padding-right-teacher{
        padding-right: 2.5rem;
    }
    .padding-right-teacher-profile{
        padding-right: 5rem;
    }
    .title-teacher-name {
        text-align: left;
        font-size: 2rem;
        font-weight: bold;
        color: #6991B7;
        padding-top: 1rem;
        line-height: 1.25rem;
    }
}

.page-id-34, .page-id-120{
    .hero {
        background-image: url("./images/spash_banner.png");
        width: auto;
        height: 400px;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
    },
    button{
        background: none;
        border-color: #FFF;
    }
    .blue-button{
        color: $color__background-body;
        background: $color__blue-button;
        width: 14rem;
        height: 3rem;
        border:none;
        outline: none;
        font-size: 1.5rem;
        border-radius: 5px;
    }
    .class-button{
        color: $color__background-body;
        background: $color__orange-button;
        width: 10rem;
        height: 2rem;
        border:none;
        outline: none;
        font-size: 1rem;
        border-radius: 4px;
    }
    .title-founder{
        text-align: left;
        //padding-top: 11%;
        font-size: 2.5rem;
        font-weight: bold;
        color: #6991B7;
        line-height: 3rem;
    }
}


// Text Styling

.intro-text{
    padding: 6% 0% 5% 0%;
    font-size: 1.25rem;
}

.intro-text-location{
    padding: 8% 7% 5% 7%;
    font-size: 1.25rem;
}

.title-styling{
    text-align: center;
    //padding-top: 11%;
    font-size: 3rem;
    font-weight: bold;
    color: #6991B7;
    background-image: url("./images/spash_banner.png");
    width: 100%;
    height: 17rem;
    background-size: 100%;
    padding-top: 6rem;
}



.title-neighbourhood{
    text-align: left;
    padding-left: 5.25rem;
    //padding-top: 11%;
    font-size: 2.5rem;
    font-weight: bold;
    color: #6991B7;
    //padding-bottom: 3rem;
}

.title-location-info{
    text-align: left;
    padding-left: 3rem;
    //padding-top: 11%;
    font-size: 2.5rem;
    font-weight: bold;
    color: #6991B7;
    padding-bottom: 3rem;
}




// This is my padding

.padding-bot-med{
    padding-bottom: 2.5rem;
}

.padding-bot-sm{
    padding-bottom: 1.25rem;
}

.padding-bot-big{
    padding-bottom: 5rem;
}

.padding-left{
    padding-left: 2rem;
}

.padding-top-med{
    padding-top: 41rem;
}