.page-id-7{
    .story-background {
        background-image: url("./images/spash_banner.png");
        width: auto;
        height: 400px;
        background-size: cover;
    }
}

.title-styling{
    text-align: center;
    padding-top: 11%;
    font-size: 4rem;
    font-weight: bold;
    color: #6991B7;
}

.intro-text{
    padding: 1% 1% 1% 1%;

}
